:root {
    --cor-primaria: #FFFFFF;
    --cor-secundaria: #EB9B00;
    --cor-terciaria: #002F52;
    --cor-quartenaria: #000000;
    --cor-de-fundo-primaria: #EBECEE;
    --cor-de-fundo-secundaria: #FFFFFF;
    --cor-de-fundo-terciaria: linear-gradient(97.54deg, #002f52 35.49%, #326589 165.37%);
    --cor-de-fundo-quartenaria: #EB9B00;
    --fonte-primaria: "Poppins";
    --fonte-secundaria: "Josefin Sans";
}

.topicos {
    background: var(--cor-de-fundo-terciaria);
    padding: 1em;
}

.topicos__titulo {
    color: var(--cor-primaria);
    font-family: var(--fonte-primaria);
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topicos__lista__item {
    margin: 2em 0.5em 1em 0.5em ;
}

.topicos__lista__item__link {
    text-decoration: none;
    color: var(--cor-primaria);
    font-family: var(--fonte-primaria);
    font-size: 14px;
    font-weight: 700;
    background-color: var(--cor-de-fundo-quartenaria);
    padding: 1em;
}

@media screen and (min-width: 1024px) {
    .topicos__titulo {
        font-size: 24px;
    }

    .topicos__lista__item {
        margin: 2em 1em 1em 1em ;
    }

    .topicos__lista__item__link {
        font-size: 24px;
        background-color: var(--cor-de-fundo-quartenaria);
        padding: 0.5em 1em;
    }
}

@media screen and (min-width: 1728px) {
    .topicos {
        padding: 3em 25vw;
    }
}